import multiprocessing

bind = "127.0.0.1:8888"
workers = multiprocessing.cpu_count() * 2 + 1

user = '{{ ansible_ssh_user }}'

logfile = "{{ project_root }}/logs/gunicorn.log"
loglevel = "info"
pidfile = '/tmp/{{ ansible_ssh_user }}-{{ ansible_host }}.pid'
daemon = False
debug = False
timeout = 300
