server {
    listen 80;
    server_name {{ ansible_host }};

    access_log {{ project_root }}/logs/nginx-access.log;
    error_log {{ project_root }}/logs/nginx-error.log warn;
    error_log {{ project_root }}/logs/nginx-debug.log debug;

    location /static/ {
        alias  {{ project_root }}/static/;
    }

    location / {
        proxy_set_header Host $host;
        proxy_pass http://127.0.0.1:8888;
    }
}
