[program:gunicorn]
command={{ project_root }}/virtualenv/bin/gunicorn calman.wsgi:application -c {{ project_root }}/logs/gunicorn.conf.py
directory={{ project_root }}/source
user={{ ansible_ssh_user }}
autostart=true
autorestart=true
redirect_stderr=True
stdout_logfile={{ project_root }}/logs/gunicorn.log
stderr_logfile={{ project_root }}/logs/gunicorn.log
