{% extends 'skeletons/min_resu.html' %}
{% load staticfiles %}

{% block head %}
  {{ block.super }}
  <script type="text/javascript" src="{% static '/static/js/calculation.js' %}"></script>
{% endblock %}

{% block content %}


{# ------------------------------ #}
{# Liste des paramètres résultats #}
{# ------------------------------ #}
<h2 class="classic-title col-md-12"><span>Résultats</span></h2>

<div class="col-md-12">
  <div class="blog-post image-post">
    <div>
        <img alt="" src="{% static '/static/images/ferme.png' %}">
        <h2 class="ferme_voile_FHG">{{calculations.ferme.calculation.ovars.Fx_voile|floatformat:"0"}} N</h2>
        <h2 class="ferme_voile_FVG">{{calculations.ferme.calculation.ovars.Fz_voile|floatformat:"0"}} N</h2>
        <h2 class="ferme_jambe_FHG">{{calculations.ferme.calculation.ovars.Fx_jambe|floatformat:"0"}} N</h2>
        <h2 class="ferme_jambe_FVG">{{calculations.ferme.calculation.ovars.Fz_jambe|floatformat:"0"}} N</h2>

        <h2 class="ferme_voile_FHD">{{calculations.ferme.calculation.ovars.Fx_voile|floatformat:"0"}} N</h2>
        <h2 class="ferme_voile_FVD">{{calculations.ferme.calculation.ovars.Fz_voile|floatformat:"0"}} N</h2>
        <h2 class="ferme_jambe_FHD">{{calculations.ferme.calculation.ovars.Fx_jambe|floatformat:"0"}} N</h2>
        <h2 class="ferme_jambe_FVD">{{calculations.ferme.calculation.ovars.Fz_jambe|floatformat:"0"}} N</h2>
    </div>

  </div>
</div>

</br>


{% endblock %}


{# ----------------------- #}
{# Affichage de la sidebar #}
{# ----------------------- #}
{% block sidebar %}
  <div class="col-md-3 sidebar right-sidebar">

      <div class="widget widget-popular-posts">
        <h4>Génération du rapport<span class="head-line"></span></h4>
        <ul>
          <li>
            <div class="widget-thumb">
              <a href="{% url 'latex2pdf' pk=resu.pk resu_type='Study' %}"><img src="{% static '/static/images/latex.svg' %}" alt="" /></a>
            </div>
            <div class="widget-content">
              <h5><a href="{{ pdflatex }}">Latex</a></h5>
              <span>format PDF</span>
            </div>
            <div class="clearfix"></div>
          </li>
        </ul>
      </div>
  </div>
{% endblock %}
