{% extends 'skeletons/min.html' %}
{% load utils %}
{% load staticfiles %}

{% block head %}
  {{ block.super }}
  <script type="text/javascript" src="{% static '/static/js/calculation.js' %}"></script>
{% endblock %}

{% block content %}

 <form method="POST" action="." id="id_form_study" >
  {% csrf_token %}

  {# ------------------------- #}
  {# Paramètres dans un groupe #}
  {# ------------------------- #}

  <div class="tabs-section">
    <!-- Nav Tabs -->
    <ul class="nav nav-tabs">

      {% for name, item in calculations.items %}
        {% if item.calculation.execution_order == 1 %}
          <li class="active" ><a href="#tab-{{name}}" data-toggle="tab">{{name}}</a>{% if item.form.errors %}<i class="fa fa-times form-control-feedback" style="color:red"></i>{% elif request.method == 'POST' %}<i class="fa fa-check form-control-feedback" style="color:green"></i>{% endif %}</li>
        {% else %}
          <li><a href="#tab-{{name}}" data-toggle="tab">{{name}}</a>{% if item.form.errors %}<i class="fa fa-times form-control-feedback" style="color:red"></i>{% elif request.method == 'POST' %}<i class="fa fa-check form-control-feedback" style="color:green"></i>{% endif %}</li>
        {% endif %}
      {% endfor %}

    </ul>

    <!-- Tab panels -->
    <div class="tab-content">

      {% for name, item in calculations.items %}
        <div class="tab-pane fade {% if item.calculation.execution_order == 1 %}in active{% endif %}" id="tab-{{name}}">
          {% include "calculation_input_content.html" with calc=item.calculation.definition calc_form=item.form groups=item.groups thereIsMesher=item.thereIsMesher %}
        </div>
      {% endfor %}

    </div>
    <!-- End Tab Panels -->

  </div>

  </br>
  {# ------------- #}
  {# Submit button #}
  {# ------------- #}
  <div class="form-group col-md-12">
    <div class="col-sm-offset-1 col-md-12">
      <button type="submit" id='id_submit_study' form="id_form_study" class="btn-system btn-large">Calculer</button>
    </div>
  </div>

  </form>

{% endblock %}
