<div class="page-banner no-subtitle">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2> {{ title }} </h2>
      </div>
      <div class="col-md-6">
        <ul class="breadcrumbs">
          <li><a href="/">Accueil</a></li>
          {% for path in paths %}
            <li><a href="{{ path.1 }}">{{ path.0 }}</a></li>
          {% endfor %}
          <li>{{ title }} </li>
        </ul>
      </div>
    </div>
  </div>
</div>

