{% load staticfiles %}
<header class="clearfix">

  <!-- Start Top Bar -->
  <!-- End Top Bar -->

  <!-- Start Header ( Logo & Navigation ) -->
  <div class="navbar navbar-default navbar-top">
    <div class="container">
      <div class="navbar-header">
        <!-- Stat Toggle Nav Link For Mobiles -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <i class="fa fa-bars"></i> </button>
        <!-- End Toggle Nav Link For Mobiles -->
        <a class="navbar-brand" href="/"><img alt="" src="{% static '/static/images/logo.png' %}"></a>
      </div>
      <div class="navbar-collapse collapse">
        <!-- Stat Search -->
        <div class="search-side"> <a class="show-search"><i class="fa fa-search"></i></a>
          <div class="search-form">
            <form autocomplete="off" role="search" method="get" class="searchform" action="#">
              <input type="text" value="" name="s" id="s" placeholder="Search the site..."> </form>
          </div>
        </div>
        <!-- End Search -->

        <!-- Start Navigation List -->
        <ul class="nav navbar-nav navbar-right">
          {% include "elements/menu.html" %}
        </ul>
        <!-- End Navigation List -->

      </div>
    </div>

    <!-- Mobile Menu Start -->
    <ul class="wpb-mobile-menu">
      {% include "elements/menu.html" %}
    </ul>
    <!-- Mobile Menu End -->

  </div>
  <!-- End Header ( Logo & Navigation ) -->
</header>
