{% for main_item in MENU %}
    <li> <a {% if activeMenuItem == main_item.name %}class="active"{% endif %} href="{{ main_item.url }}">{{ main_item.name }}</a>
    {% if main_item.subitems %}<ul class="dropdown">{% endif %}
    {% for subitem in main_item.subitems %}
      <li><a href="{{ subitem.url }}">{{ subitem.name }}</a></li>
    {% endfor %}
    {% if main_item.subitems %}</ul>{% endif %}
{% endfor %}
