{% load staticfiles %}

<div class="col-md-3 sidebar right-sidebar">

    <div class="widget widget-popular-posts">
      <h4>Génération du rapport<span class="head-line"></span></h4>
      <ul>
        <li>
          <div class="widget-thumb">
            <a href="{% url 'latex2pdf' resu.pk %}"><img src="{% static '/static/images/latex.svg' %}" alt="" /></a>
          </div>
          <div class="widget-content">
            <h5><a href="{{ pdflatex }}">Latex</a></h5>
            <span>format PDF</span>
          </div>
          <div class="clearfix"></div>
        </li>
        <li>
          <div class="widget-thumb">
            <a href="#"><img src="{% static '/static/images/libreoffice.svg' %}" alt="" /></a>
          </div>
          <div class="widget-content">
            <h5><a href="#">Libre Office</a></h5>
            <span>format ODT</span>
          </div>
          <div class="clearfix"></div>
        </li>
      </ul>
    </div>

    <!-- tags Widget -->
    <div class="widget widget-tags">
      <h4>Mot clés <span class="head-line"></span></h4>
      <div class="tagcloud">
        {% for tag in tags %}
            <a href="{{tag.url}}">{{tag}}</a>
        {% endfor %}
      </div>
    </div>

</div>
