{% load staticfiles %}

<!-- Basic -->
<title>{{ title }}</title>

<!-- Define Charset -->
<meta charset="utf-8">

<!-- Responsive Metatag -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Page Description and Author -->
<meta name="description" content="{{ description }}">
<meta name="author" content="{{ author }}">

<!-- Bootstrap CSS  -->
<link rel="stylesheet" href="{% static '/static/asset/css/bootstrap.min.css' %}" type="text/css" media="screen">

<!-- Font Awesome CSS -->
<link rel="stylesheet" href="{% static '/static/css/font-awesome.min.css' %}" type="text/css" media="screen">

<!-- Slicknav -->
<link rel="stylesheet" type="text/css" href="{% static '/static/css/slicknav.css' %}" media="screen">

<!-- Margo CSS Styles  -->
<link rel="stylesheet" type="text/css" href="{% static '/static/css/style.css' %}" media="screen">

<!-- Responsive CSS Styles  -->
<link rel="stylesheet" type="text/css" href="{% static '/static/css/responsive.css' %}" media="screen">

<!-- Css3 Transitions Styles  -->
<link rel="stylesheet" type="text/css" href="{% static '/static/css/animate.css' %}" media="screen">

<!-- Color CSS Styles  -->
<link rel="stylesheet" type="text/css" href="{% static '/static/css/colors/red.css' %}" title="red" media="screen" />

<!-- Mechanical style -->
<link rel="stylesheet" type="text/css" href="{% static '/static/css/mechanics.css' %}" media="screen" />
<script type="text/javascript" src="{% static '/static/js/mechanics.js' %}"></script>

<!-- Favicon  -->
<link rel="icon" type="image/ico" href="{% static '/static/images/favicon.ico' %}" />
<!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="{% static '/static/images/favicon.ico' %}" /><![endif]-->


<!-- Margo JS  -->
<script type="text/javascript" src="{% static '/static/js/jquery-2.1.4.min.js' %}"></script>
<script type="text/javascript" src="{% static '/static/js/jquery.migrate.js' %}"></script>
<script type="text/javascript" src="{% static '/static/js/modernizrr.js' %}"></script>
<script type="text/javascript" src="{% static '/static/asset/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static '/static/js/jquery.fitvids.js' %}"></script>
<!-- <script type="text/javascript" src="{% static '/static/js/owl.carousel.min.js' %}"></script> -->
<script type="text/javascript" src="{% static '/static/js/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{% static '/static/js/nivo-lightbox.min.js' %}"></script>
<script type="text/javascript" src="{% static '/static/js/jquery.isotope.min.js' %}"></script>
<!-- <script type="text/javascript" src="{% static '/static/js/jquery.isotope.js' %}"></script> -->
<script type="text/javascript" src="{% static '/static/js/jquery.appear.js' %}"></script>
<script type="text/javascript" src="{% static '/static/js/count-to.js' %}"></script>
<script type="text/javascript" src="{% static '/static/js/jquery.textillate.js' %}"></script>
<script type="text/javascript" src="{% static '/static/js/jquery.lettering.js' %}"></script>
<script type="text/javascript" src="{% static '/static/js/jquery.easypiechart.min.js' %}"></script>
<!-- <script type="text/javascript" src="{% static '/static/js/jquery.easypiechart.js' %}"></script> -->
<script type="text/javascript" src="{% static '/static/js/smooth-scroll.js' %}"></script>
<script type="text/javascript" src="{% static '/static/js/skrollr.js' %}"></script>
<script type="text/javascript" src="{% static '/static/js/jquery.parallax.js' %}"></script>
<script type="text/javascript" src="{% static '/static/js/mediaelement-and-player.js' %}"></script>
<script type="text/javascript" src="{% static '/static/js/jquery.slicknav.js' %}"></script>
<script type="text/javascript" src="{% static '/static/js/style.changer.js' %}"></script>
<script type="text/javascript" src="{% static '/static/js/jquery.themepunch.revolution.min.js' %}"></script>
<script type="text/javascript" src="{% static '/static/js/jquery.themepunch.tools.min.js' %}"></script>
<!--[if IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
