{% load staticfiles %}
<!doctype html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="en" class="no-js"> <![endif]-->
<html lang="en">

<head>
    {% block head %}
      {% include "skeletons/head.html" %}
    {% endblock %}
</head>

<body>
  <!-- Container -->
  <div id="container">

    {% include "elements/header.html" %}

    {% block banner %}
      {% include "elements/banner.html" %}
    {% endblock %}

    <!-- Start Content -->
    <div id="content">
      <div class="container">
        <div class="row sidebar-page">

          <div class="main col-md-12 page-content">
            {% block content %}{% endblock %}
          </div>

          {% block sidebar %}{% endblock %}

        </div>
      </div>
    </div>
    <!-- End Content -->

  </div>
  <!-- End Container -->

  <script type="text/javascript" src="{% static "/static/js/script.js" %}"></script>

</body>

</html>
