/*mechanics-carousel*/
.mechanics-carousel .item {
    padding-right: 20px;
}

.mechanics-carousel.show-one-slide .item {
    padding-right: 0;
}


/*Torseur*/
.mech-torsor-container {
    background-image: url(../images/torseur.svg);
    background-repeat: no-repeat;
    background-size: 228px 123px;
    position: relative;
    width: 270px;
    height: 126px;
    /*border: 1px solid #eee;*/
    line-height: 136px;
}

.mech-torsor-input{
    width: 50px;
    height: 31px;
    font-size: 10px;
    padding-left: 1px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.mech-torsor-name{
    padding-left: 28px;
    font-weight: bold;
}

.mech-torsor-FX{
    position: absolute;
    top: 10px;
    left: 110px;
}

.mech-torsor-MX{
    position: absolute;
    top: 10px;
    left: 162px;
}

.mech-torsor-FY{
    position: absolute;
    top: 47px;
    left: 110px;
}

.mech-torsor-MY{
    position: absolute;
    top: 47px;
    left: 162px;
}

.mech-torsor-FZ{
    position: absolute;
    top: 84px;
    left: 110px;
}

.mech-torsor-MZ{
    position: absolute;
    top: 84px;
    left: 162px;
}

.mech-torsor-PT{
    position: absolute;
    top: 98px;
    left: 223px;
    width: 42px;
    height: 25px;
    font-size: 9px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}


/*Point*/
.mech-point-container {
    background-image: url(../images/point.svg);
    background-repeat: no-repeat;
    background-size: 150px 112px;
    position: relative;
    width: 194px;
    height: 115px;
    /*border: 1px solid #eee;*/
    line-height: 122px;
}

.mech-point-input{
    width: 50px;
    height: 31px;
    font-size: 10px;
    padding-left: 3px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.mech-point-name{
    padding-left: 20px;
    font-size: 12px;
    font-weight: bold;
}

.mech-point-X{
    position: absolute;
    top: 6px;
    left: 84px;
}

.mech-point-Y{
    position: absolute;
    top: 41px;
    left: 84px;
}

.mech-point-Z{
    position: absolute;
    top: 76px;
    left: 84px;
}

.mech-point-CS{
    position: absolute;
    top: 87px;
    left: 147px;
    width: 42px;
    height: 25px;
    font-size: 10px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

/*CS*/
.mech-cs-container {
    background-image: url(../images/cs.svg);
    background-repeat: no-repeat;
    background-size: 200px 118px;
    position: relative;
    width: 215px;
    height: 128px;
    /*border: 1px solid #eee;*/
    line-height: 105px;
}

.mech-cs-input{
    width: 50px;
    height: 31px;
    font-size: 10px;
    padding-left: 3px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.mech-cs-XiX0{
    position: absolute;
    top: 25px;
    left: 43px;
}

.mech-cs-YiX0{
    position: absolute;
    top: 59px;
    left: 43px;
}

.mech-cs-ZiX0{
    position: absolute;
    top: 93px;
    left: 43px;
}

.mech-cs-XiY0{
    position: absolute;
    top: 25px;
    left: 102px;
}

.mech-cs-YiY0{
    position: absolute;
    top: 59px;
    left: 102px;
}

.mech-cs-ZiY0{
    position: absolute;
    top: 93px;
    left: 102px;
}

.mech-cs-XiZ0{
    position: absolute;
    top: 25px;
    left: 161px;
}

.mech-cs-YiZ0{
    position: absolute;
    top: 59px;
    left: 161px;
}

.mech-cs-ZiZ0{
    position: absolute;
    top: 93px;
    left: 161px;
}

.mech-cs-name-x{
    position: absolute;
    top: 0px;
    left: 25px;
}

.mech-cs-name-y{
    position: absolute;
    top: 33px;
    left: 25px;
}

.mech-cs-name-z{
    position: absolute;
    top: 65px;
    left: 25px;
}

.ferme_voile_FHG{
    position:absolute;
    left: 0px;
    top: 290px;
    font-size: 25px;
    color: green;
}

.ferme_voile_FHD{
    position:absolute;
    left: 570px;
    top: 290px;
    font-size: 25px;
    color: green;
}

.ferme_jambe_FHG{
    position:absolute;
    left: 0px;
    top: 425px;
    font-size: 25px;
    color: green;
}

.ferme_jambe_FHD{
    position:absolute;
    left: 555px;
    top: 425px;
    font-size: 25px;
    color: green;
}

.ferme_voile_FVG{
    position:absolute;
    left: 55px;
    top: 385px;
    font-size: 25px;
    color: blue;
}

.ferme_voile_FVD{
    position:absolute;
    left: 555px;
    top: 388px;
    font-size: 25px;
    color: blue;
}

.ferme_jambe_FVG{
    position:absolute;
    left: 100px;
    top: 485px;
    font-size: 25px;
    color: blue;
}

.ferme_jambe_FVD{
    position:absolute;
    left: 500px;
    top: 485px;
    font-size: 25px;
    color: blue;
}
