{# with field #}

<div class="form-group col-md-6">
  <span class="text-info">{{ field.field.description }}</span>
  <div class="input-group has-feedback {% if field.errors %}has-error{% elif request.method == 'POST' %}has-success{% endif %}" id="{{field.name}}">
    {{ field }}
  </div>
  {{ field.errors }}
</div>
