{# with calc category group #}
{% load staticfiles %}

{% if category == "description" %}
  {% for image in calc.images.description %}
    <div class="col-md-12">
      <div class="blog-post image-post">
        <!-- Post Thumb -->
        <div class="post-head">
          <a class="lightbox" title="{{category}}" href="{% static '/static/images/calculation/' %}/{{calc.name}}/{{image}}">
            <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
            <img alt="" src="{% static '/static/images/calculation/' %}/{{calc.name}}/{{image}}">
          </a>
        </div>
      </div>
    </div>
    </br>
  {% endfor %}
{% elif category == "hypothesis" %}
  {% for image in calc.images.hypothesis %}
    <div class="col-md-6">
      <div class="blog-post image-post">
        <!-- Post Thumb -->
        <div class="post-head">
          <a class="lightbox" title="{{category}}" href="{% static '/static/images/calculation/' %}/{{calc.name}}/{{image}}">
            <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
            <img alt="" src="{% static '/static/images/calculation/' %}/{{calc.name}}/{{image}}">
          </a>
        </div>
      </div>
    </div>
    </br>
  {% endfor %}
{% elif category == "parameters" %}
  {% for image in calc.images.parameters %}
    <div class="col-md-6">
      <div class="blog-post image-post">
        <!-- Post Thumb -->
        <div class="post-head">
          <a class="lightbox" title="{{category}}" href="{% static '/static/images/calculation/' %}/{{calc.name}}/{{image}}">
            <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
            <img alt="" src="{% static '/static/images/calculation/' %}{{calc.name}}/{{image}}">
          </a>
        </div>
      </div>
    </div>
    </br>
  {% endfor %}
{% elif category == "group" %}
  {% for key, images in calc.images.group.items %}
    {% if group == key %}
      {% for image in images %}

        <div class="col-md-6">
          <div class="blog-post image-post">
            <!-- Post Thumb -->
            <div class="post-head">
              <a class="lightbox" title="{{category}}" href="{% static '/static/images/calculation/' %}/{{calc.name}}/{{image}}">
                <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                <img alt="" src="{% static '/static/images/calculation/' %}{{calc.name}}/{{image}}">
              </a>
            </div>
          </div>
        </div>
        </br>

      {% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}
