{% extends 'skeletons/min.html' %}
{% load utils %}
{% load staticfiles %}


{% block content %}
  <h2 class="classic-title col-md-12"><span>Informations principales</span></h2>

  {# ------------- #}
  {# Nom du calcul #}
  {# ------------- #}
  <div class="form-group col-md-6">
    <span class="text-info">Nom du calcul</span>
    <div class="input-group">
      <div class="input-group-addon">name</div>
      <input class="form-control" type="text" value="{{resu.name}}" disabled="disabled" />
    </div>
  </div>
  </br>

  {# ---------------- #}
  {# Choix du solveur #}
  {# ---------------- #}
  <div class="form-group col-md-6">
    <span class="text-info">Choix du solveur</span>
    <div class="input-group">
      <div class="input-group-addon">solveur</div>
      <input class="form-control" type="text" value="{{resu.solver}}" disabled="disabled" />
    </div>
  </div>
  </br>

  {# --------------- #}
  {# Choix du mesher #}
  {# --------------- #}
  {% if thereIsMesher %}
    <div class="form-group col-md-6">
      <span class="text-info">Choix du mailleur</span>
      <div class="input-group">
        <div class="input-group-addon">mailleur</div>
        <input class="form-control" type="text" value="{{resu.mesher}}" disabled="disabled" />
      </div>
    </div>
    </br>
  {% endif %}

  <h2 class="classic-title col-md-12"><span>Caractéristiques du calcul</span></h2>
  <div class="form-group col-md-6">
    <span class="text-info">Temps CPU</span>
    <div class="input-group">
      <div class="input-group-addon">t<sub>CPU</sub></div>
      <input class="form-control" type="text" value="{{resu.cpu_time.total_seconds}}" disabled="disabled" />
      <div class="input-group-addon">secondes</div>
    </div>
  </div>
  </br>
  {# ------------------------------ #}
  {# Liste des paramètres résultats #}
  {# ------------------------------ #}
  <h2 class="classic-title col-md-12"><span>Résultats</span></h2>
  {% for field in form %}
    {% if 'ovar' in field.name %}
      {% include "calculation_field.html" with field=field %}
    {% endif %}
  {% endfor %}
  </br>

{% endblock %}

