{% extends 'skeletons/min.html' %}
{% load utils %}
{% load staticfiles %}

{% block head %}
  {{ block.super }}
  <script type="text/javascript" src="{% static '/static/js/calculation.js' %}"></script>
{% endblock %}

{% block content %}
  <form method="POST" action="." >
  {% csrf_token %}
  {% include "calculation_input_content.html" with calc=calc calc_form=form groups=groups %}
  {# ------------- #}
  {# Submit button #}
  {# ------------- #}
  <div class="form-group col-md-12">
    <div class="col-sm-offset-1 col-md-12">
      <button type="submit" class="btn-system btn-large">Calculer</button>
    </div>
  </div>

  </form>
{% endblock %}

