
{# --------------------- #}
{# Description du calcul #}
{# --------------------- #}
<h2 class="classic-title col-md-12"><span>Description</span></h2>
<p>{{ calc.description }}</p>
{% include "calculation_image.html" with calc=calc category="description" %}
</br>

{# -------------------- #}
{# Hypothèses du calcul #}
{# -------------------- #}
{% if calc.hypothesis %}
  <h2 class="classic-title col-md-12"><span>Hypothèses</span></h2>
  <ul class="icons-list">
    {% for hyp in calc.hypothesis %}
      <li><i class="fa fa-info-circle"></i>{{ hyp }}</li>
    {% endfor %}
  </ul>

  </br>
  {% include "calculation_image.html" with calc=calc category="hypothesis" %}
{% endif %}


{# ------------------------ #}
{# Informations principales #}
{# ------------------------ #}

<div hidden>
<h2 class="classic-title col-md-12"><span>Informations principales</span></h2>
    {{ calc_form.name }}
</div>
{# ---------------- #}
{# Choix du solveur #}
{# ---------------- #}
<div hidden>
<div class="form-group col-md-6">
  <span class="text-info">Choix du solveur</span>
  <div class="input-group has-feedback {% if calc_form.solver.errors %}has-error{% elif request.method == 'POST' %}has-success{% endif %}" id="id_solver_{{calc.name}}">
    <div class="input-group-addon">solveur</div>
    {{ calc_form.solver }}
  </div>
  {{ calc_form.solver.errors }}
</div>

</br>
{# --------------- #}
{# Choix du mesher #}
{# --------------- #}
{% if thereIsMesher %}
  <div class="form-group col-md-6">
    <span class="text-info">Choix du mailleur</span>
    <div class="input-group has-feedback {% if calc_form.mesher.errors %}has-error{% elif request.method == 'POST' %}has-success{% endif %}" id="id_mesher">
      <div class="input-group-addon">mailleur</div>
      {{ calc_form.mesher }}
    </div>
    {{ calc_form.mesher.errors }}
  </div>
  </br>
{% endif %}
</div>
{# ------------------------ #}
{# Affichage des parametres #}
{# ------------------------ #}
<h2 class="classic-title col-md-12"><span>Paramètres</span></h2>

{# ------------------------- #}
{# Paramètres dans un groupe #}
{# ------------------------- #}
{% for group, fields in groups.items %}
  {% if group != "ungrouped" %}
    <h3 class="classic-title col-md-12"><span>{{group}}</span></h3>
    {% include "calculation_image.html" with calc=calc category="group" group=group %}
    {% for field in fields %}
      {% include "calculation_field.html" with field=field %}
    {% endfor %}
  {% endif %}
{% endfor %}
</br>

{# ---------------------- #}
{# Paramètres sans groupe #}
{# ---------------------- #}
{% if groups.ungrouped %}
    <h2 class="classic-title col-md-12"><span>Paramètres divers</span></h2>
    {% include "calculation_image.html" with calc=calc category="parameters" %}
    {% for field in groups.ungrouped %}
        {% include "calculation_field.html" with field=field %}
    {% endfor %}
{% endif %}
